<div id="index">
	<div id="latest" class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-sm-12">
				<h2>The 2015 Ramy Ashour Squash Camp has Concluded</h2>
				<h3>You may find more information about it below.</h3>
				<div class="row">
					<div class="col-sm-6">
						<img class="camp" src="/assets/camp2015_01.jpg" />
					</div>
					<div class="col-sm-6">
						<img class="camp" src="/assets/camp2015_02.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<script>
	
	$(document).ready(function() {
		$('.nav-home').addClass("active");
	})

</script>