<div id="index2016">
	<div id="latest" class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-sm-12">
				<img style="width: 100%;" src="/assets/ramy_advert.png" />
				<a class="apply-link" href="#apply"><i class="fa fa-long-arrow-down"></i>Apply Below<i class="fa fa-long-arrow-down"></i></a>
			</div>
		</div>
	</div>

</div>
