<div class="container" style="padding-top: 15em;">
	<div class="row">
		<div class="col-sm-12" style="text-align:center">
			<h1>Full Academy Website is Currently Under Construction.</h1>
			<h2>Please Check Back Soon, Thanks!.</h2>
		</div>
	</div>
</div>