<div id="index">
	<div id="latest" class="container">
		<h1>Latest News</h1>
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-sm-12">
				<img style="width: 100%;" src="/assets/ramy_advert.jpg" />
				<a class="apply-link" href="#apply"><i class="fa fa-long-arrow-down"></i>Apply Below<i class="fa fa-long-arrow-down"></i></a>
			</div>
		</div>
	</div>
<!-- 	<div id="introduction" class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-1 col-sm-5">
				<div class="cover-left"></div>
			</div>
			<div class="col-md-6 col-sm-7">
				<div class="cover-right-top"></div>
				<div class="cover-right-bottom"></div>
			</div>
		</div>
		<div class="divider row">
			<div class="col-md-10 col-md-offset-1 col-sm-12">
				<h2>June 27 - July 2 2015   :   REFLEX Squash and Fitness Club Wilmington DE</h2>
				<h3>More info:  Ramyashoursquashcamp@gmail.com</h3>
			</div>
		</div>
	</div> -->
	<div id="coaches">
		<div class="coach container-fluid">
			<div class="row ramy">
				<div class="col-sm-12">
					<h1>Featured Coaches</h1>
				</div>
			</div>
		</div>
		<div class="coach container-fluid">
			<div class="row ramy">
				<div class="col-sm-7 col-sm-offset-2">
					<h2>Ramy Ashour</h2>
					<p class="description">3 times World Champion and Current World Champion.</p>
				</div>
				<img class="coach-photo bg-photo-ramy" src="/assets/coach_ramy.jpg" />
			</div>
		</div>
		<div class="coach container-fluid">
			<div class="row hisham">
				<div class="col-sm-7 col-sm-offset-3">
					<h2>Hisham Ashour</h2>
					<p class="description">
						Former # 11 in the World. Now residing in New York, Hisham has firmly established himself as one of the dominant coaches in the World. He heads his own junior academy in Manhattan NY.
					</p>
				</div>
				<img class="coach-photo bg-photo-hisham" src="/assets/coach_hisham.jpg" />
			</div>
		</div>
		<div class="coach container-fluid">
			<div class="row haitham">
				<div class="col-sm-7 col-sm-offset-2">
					<h2>Haitham Effat</h2>
					<p class="description">
						Assistant Coach, Egypt's National Team. Haitham has been Ramy's primary trainer in Egypt, preparing him for the World top events. Beside Ramy, he has worked hand in hand with some of the World top players including Raneem El Waleili and Nour El Tayab.
					</p>
				</div>
				<img class="coach-photo bg-photo-haitham" src="/assets/coach_haitham.jpg" />
			</div>
		</div>
		<div class="coach container-fluid">
			<div class="row additional">
				<div class="col-sm-6 col-sm-offset-3">
					<h2>Plus 3 other assisting coaches handpicked by Ramy from Egypt and the U.S.</h2>
				</div>
				<div class="coach-full"></div>
			</div>
		</div>
	</div>
	<div id="about">
		<div class="slide gradient-light" data-stellar-ratio="1.15" data-stellar-vertical-offset="0" data-stellar-horizontal-
		offset="0"></div>
		<div class="slide solid" data-stellar-ratio="1.17" data-stellar-vertical-offset="0" data-stellar-horizontal-offset="0"></div>
		<div class="slide stripe" data-stellar-ratio="1.1" data-stellar-vertical-offset="0" data-stellar-horizontal-offset="0"></div>
		<div class="slide stripe-small" data-stellar-ratio="1.11" data-stellar-vertical-offset="0" data-stellar-horizontal-offset="0"></div>
		<div class="container">
			<h1>About The Camp</h1>
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<p class="quote">
						"Today's game calls for a different set of skills and attributes from the player. Playing comfortably at a high pace and processing the readiness to attack from every angle are now essential in winning Squash. Unfortunately, I see a sizable gap between the way the game is played today and the conventional training methods of the past"<br><br><span>- Ramy Ashour</span>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 col-md-offset-1 col-sm-6">
					<h3>Camp Director:</h3>
					<p>Raymond Zananiri, Regional Squash Director at NYSC</p>
					<h3>Included:</h3>
					<p><i class="fa fa-star"></i>Full hotel boarding and meals</p>
					<p><i class="fa fa-star"></i>Bus transportation</p>
					<p><i class="fa fa-star"></i>Supervisor for kids</p>
					<p><i class="fa fa-star"></i>Day trips to Philly and other locations</p>
					</p>
				</div>
				<div class="col-md-5 col-sm-6">
					<div class="date">
						<h3>Six Full Days</h3>
						<Br>
						<h4>June 27</h4>
						<p>- to -</p>
						<h4>July 2</h4>
						<br>
						<h3>2015</h3>
						<div class="inner"></div>
					</div>
				</div>
			</div>
			<div class="location row">
				<div class="col-md-5 col-md-offset-1 col-sm-6">
					<h3>Location:</h3>
					<h4>REFLEX Squash and Fitness Club, Wilmington DE</h4>
					<p>Featuring:<br><i class="fa fa-star"></i>6 international courts<br><i class="fa fa-star"></i>State of the art fitness facility<br><i class="fa fa-star"></i>Showers and locker rooms</p>
				</div>
				<div class="col-md-5 col-sm-6">
					<a target="_blank" href="https://goo.gl/maps/RU9XL" class="maps-link"><i class="fa fa-external-link"></i><img src="/assets/squash_map.jpg" /></a>
				</div>
			</div>
			<div class="row">
				<div class="images col-md-10 col-md-offset-1">
					<h3>Reflex Squash and Fitness Club</h3>
					<div class="about-images col-sm-12">
						<img src="/assets/reflex_courts01.jpg" />
					</div>
					<div class="about-images col-sm-6">
						<img src="/assets/reflex_courts03.jpg" />
					</div>
					<div class="about-images col-sm-6">
						<img src="/assets/reflex_courts04.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="schedule" data-stellar-background-ratio=".5">
		<div class="container">
			<h1>Schedule</h1>
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
					<h3>Typical Daily Schedule:</h3>
					<h4>Training will be scheduled twice a day in one morning and one evening session.  10 AM to 1 PM | 4 PM to 7 PM</h4>
					<ol class="daily-schedule">
						
						<li><p>Day plan meeting with all the participants to outline the special drills of the day and what to focus on.</p></li>
						<li><p>Warm up</p></li>
						<li><p>Preparative drills</p></li>
						<li><p>Ramy's drill set</p></li>
						<li><p>Hisham's drill set</p></li>
						<li><p>Ramy and Hisham's Conditional Games </p></li>
						<li><p>Matches (juniors with coaches)</p></li>
						<li><p>
							Video Presentation & Analysis :<br>
							This consists of analysis of not only footage of participants but a special array of PSA match clips that Ramy will use to highlight common errors and great decisions in some of his favorite points from professional tournaments.
						</p></li>
						<li><p>Fitness & strength with the handpicked personal fitness coach of Ramy Ashour</p></li>
						<li><p>Stretching</p></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div id="apply">
		<div class="apply-bg" data-stellar-background-ratio=".5"></div>
		<div class="container">
			<h1> Apply to the camp </h1>
			<p><em>To maintain the highest level of competition, participation will be limited to 15 Juniors.</em></p>
			<div class="row">
				<div class="application-info col-md-10 col-md-offset-1 col-sm-12">
					<h3>Selection Criteria:</h3>
					<h4>Age Requirement: 13-18 Yrs*</h4><p class="asterisk">*possible admission for younger ages based on exceptional skill levels.</p>
					<h4>Sample Video</h4><p>All applicants must upload to Youtube a 1 minute video clip of uninterrupted solo drives from Forehand and Backhand sides.  Camera phone video is fine.  Copy the link to the video in the form below.</p>
				</div>
			</div>
			<%= render 'applications/new' %>
		</div>
	</div>
</div>
