<div id="index">
	<div id="introduction" class="container">
		<div class="row">
			<div class="col-sm-5">
				<div class="cover-left"></div>
			</div>
			<div class="col-sm-7">
				<div class="cover-right-top"></div>
				<div class="cover-right-bottom"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h2>June 27 - July 2 2015   :   REFLEX Squash and Fitness Club Wilmington DE</h2>
				<h3>More info:  Ramyashoursquashcamp@gmail.com</h3>
			</div>
		</div>
	</div>
	<div id="coaches" class="container">
		<h1>Featured Coaches</h1>
		<div class="row">
			<div class="col-sm-12">
				<h2>Ramy Ashour</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<img src="/assets/ramy_champ.jpg" />
			</div>
			<div class="col-sm-7">
				<p>3 times World Champion and Current World Champion.</p>
			</div>
		</div>
	</div>
</div>
