<div id="index">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Ramy Ashour Academy Camps</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<img class="bg-img" src="/assets/ramy_bg.jpg" />
			</div>
		</div>
	</div>
</div>
