<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<%= render 'applications/form' %>
	</div>
	<div class="col-sm-10 col-sm-offset-1">
		<h4>For all additional information, please contact us at <a href="mailto:info@ramyashouracademy.com">info@ramyashouracademy.com</a></h4>
	</div>
</div>