<div class="row">
	<div class="col-md-10 col-md-offset-1 col-sm-12">
		<%= render 'applications/form' %>
	</div>
	<div class="col-md-10 col-md-offset-1 col-sm-12">
		<h4>For all additional information, please contact us at <a href="mailto:info@ramyashouracademy.com">info@ramyashouracademy.com</a></h4>
	</div>
</div>