/* line 7, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/main.css.scss */
h1, h2, h3, h4, h5, p, span, a {
  font-family: 'Raleway', sans-serif;
  color: #000;
}

/* line 12, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/main.css.scss */
#index {
  padding-top: 3em;
}
/* line 15, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/main.css.scss */
#index h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
/* line 24, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/main.css.scss */
#index .bg-img {
  width: 100%;
}
/* line 30, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/main.css.scss */
#index .divider h2 {
  padding: 1.5em 0;
  text-align: center;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin: 2em 0;
  color: #000;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.5em;
}
/* line 42, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/main.css.scss */
#index .divider h3 {
  padding: 1.5em 0;
  text-align: center;
  color: #000;
  font-weight: 300;
}
/* line 50, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/main.css.scss */
#index #introduction {
  padding: 3em 0;
}
/* line 53, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/main.css.scss */
#index #introduction .cover-left {
  width: 100%;
  height: 550px;
  background: url("/assets/ramy_trophy.jpg");
  background-size: cover;
  background-position: center;
}
/* line 61, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/main.css.scss */
#index #introduction .cover-right-top {
  width: 100%;
  height: 260px;
  margin-bottom: 30px;
  background: url("/assets/ramy_towel.jpg");
  background-size: cover;
  background-position: center;
}
/* line 69, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/main.css.scss */
#index #introduction .cover-right-bottom {
  width: 100%;
  height: 260px;
  background: url("/assets/ramy_pose.jpg");
  background-size: cover;
  background-position: center;
}
/* line 78, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/main.css.scss */
#index #coaches {
  padding: 3em 0;
}
/* line 82, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/main.css.scss */
#index #coaches img {
  width: 100%;
}
/* line 86, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/main.css.scss */
#index #coaches .coach {
  padding: 3em 0;
}
/* line 92, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/main.css.scss */
#index #about {
  padding: 3em 0;
}
/* line 97, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/main.css.scss */
#index #apply {
  padding: 3em 0;
}
/* line 101, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/main.css.scss */
#index #schedule {
  padding: 3em 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 19, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/application.css.scss */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 25, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/application.css.scss */
body {
  background: #fff !important;
}

/* line 31, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/application.css.scss */
#header .site-heading {
  text-align: center;
  margin: 2em 0;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 40, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/application.css.scss */
#header .nav-links {
  padding: 0;
  margin: 0;
  text-align: center;
}
/* line 45, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/application.css.scss */
#header .nav-links li {
  display: inline-block;
}
/* line 48, /Users/Bryan/Desktop/projects/ramy/app/assets/stylesheets/application.css.scss */
#header .nav-links li a {
  display: block;
  padding: 8px 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  color: #000;
  text-transform: uppercase;
}
