<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <p>
      <% object.errors.full_messages.each do |msg| %>
        <span>* <%= msg %>,</span>
      <% end %>
    </p>
  </div>
  <script type="text/javascript">
    window.onload = scrollTo('#squash-form-offset');
    function scrollTo(thing) {
        location.hash = thing;
    }
  </script>
<% end %>