// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



h1, h2, h3, h4, h5, p, span, a, ul, ol, li, label, table, tr, th, td {
	font-family: 'Raleway', sans-serif;
	color: #fff;
}

#index {
	padding-top: 5em; 
	position: relative;

	h1 {
		font-family: 'Raleway', sans-serif;
		font-weight: 900;
		font-style: italic;
		font-size: 2.5em;
		text-shadow: 3px 3px 2px #000;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
	}

	h3 {
		font-size: 2.25em;
		line-height: 1.5em;
		font-weight: 600;
	}

	p {
		font-size: 1.25em;
		line-height: 1.75em;
	}

	.bg-img {
		width: 100%;
	}

	.slide {
		-ms-transform: rotate(15deg); /* IE 9 */
	    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
	    -moz-transform: rotate(15deg); /* Chrome, Safari, Opera */
	    transform: rotate(15deg);
		position: absolute;
	}

	.gradient-light {
		background: #e22d30; /* Old browsers */
		top: -250px;
		height: 400%;
		width: 25em;
		box-shadow: 2px 2px 25px #000;
		margin-top: -400px;
		left: 0;
		margin-left: -800px;
	    opacity: .35;
	    z-index: -1;
	}

	.solid {
		background: #FF8082;
		top: -250px;
		margin-top: -500px;
		left: 0px;
		margin-left: -750px;
		height: 400%;
		width: 25em;
		z-index: -2;
		-ms-transform: rotate(15deg); /* IE 9 */
	    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
	    -moz-transform: rotate(15deg); /* Chrome, Safari, Opera */
	    transform: rotate(15deg);
	    opacity: .25;
	}

	.stripe {
		background: #CE1126;
		height: 400%;
		width: 1em;
		top: -250px;
		margin-top: -300px;
		left: 900px;
		margin-left: 23%;
		z-index: -2;
		-ms-transform: rotate(15deg); /* IE 9 */
	    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
	    -moz-transform: rotate(15deg); /* Chrome, Safari, Opera */
	    transform: rotate(15deg);
	    opacity: .5;
	}

	.stripe-small {
		background: #CE1126;
		height: 400%;
		width: .25em;
		top: -250px;
		margin-top: -300px;
		left: 900px;
		margin-left: 25%;
		z-index: -2;
		-ms-transform: rotate(15deg); /* IE 9 */
	    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
	    -moz-transform: rotate(15deg); /* Chrome, Safari, Opera */
	    transform: rotate(15deg);
	    opacity: .5;
	}

	.divider {
			
		h2 {
			padding: 1.5em 0;
			text-align: center;
			border-top: 2px solid #fff;
			border-bottom: 2px solid #fff;
			margin: 2em 0;		
			color: #fff;
			font-weight: 300;
			letter-spacing: 1px;
			font-size: 1.5em;	
		}

		h3 {
			padding: 1.5em 0;
			text-align: center;
			color: #fff;
			font-weight: 300;
		}
	}

	#latest {
		position: relative;
		padding: 2em 0 5em;

		h3 {
			text-transform: uppercase;
			font-size: 1.5em;
			font-weight: 600;
			margin-top: 1.25em;
		}

		p {

		}

		.description {

		}

		.coach {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 1.5em;
			margin-top: 1.25em;
		}

		.apply-link {
			text-decoration: none;
			color: #fff;
			font-weight: 600;
			font-size: 1.5em;
			opacity: .5;
			display: block;
			margin: 2em auto 0;
			width: 50%;
			text-align: center;
			border: 3px solid #fff;
			padding: 1em 0;

			i {
				display: inline-block;
				position: relative;
				top: -10px;
				margin: 0 2em;
				font-size: 1.5em;
				-webkit-transition: all .2s;
				-moz-transition: all .2s;
				-o-transition: all 2s;
    			transition: all .2s;
			}
		}

		.apply-link:hover {
			opacity: 1;

			i {
				top: 10px;
			}
		}
	}

	#introduction {
		position: relative;
		padding: 3em 0;

		.cover-left {
			width: 100%;
			height: 550px;
			background: url('/assets/ramy_trophy.jpg');
			background-size: cover;
			background-position: center;
		}

		.cover-right-top {
			width: 100%;
			height: 260px;
			margin-bottom: 30px;
			background: url('/assets/ramy_towel.jpg');
			background-size: cover;
			background-position: center;
		}
		.cover-right-bottom {
			width: 100%;
			height: 260px;
			background: url('/assets/ramy_pose.jpg');
			background-size: cover;
			background-position: center;
		}
	}

	#coaches {
		position: relative;
		padding: 3em 0 0f;

		h1 {
			margin: 1em 0 1em;
		}

		h2 {
			padding-bottom: .5em;
		}

		img {
			width: 100%;
		}

		.coach {
			border-top: 5px solid #222;
			overflow: hidden;

			.row {
				position: relative;
			}

			h2 {
				margin: 3em 0 0;
				position: relative;
				z-index: 15;
				line-height: 1.5em;
				font-size: 3em;
				font-weight: 600;
				font-style: italic;
				text-transform: uppercase;
				text-shadow: 3px 3px 2px #000;
			}

			p {
				margin: 0 0 8em;
				font-size: 1.65em;
				line-height: 1.75em;
				position: relative;
				z-index: 15;
				text-shadow: 2px 2px 1px #000;
			}

			.ramy {

			}

			.hisham {
				text-align: right;
			}

			.haitham {

			}

			.additional {
				text-align: center;

				h2 {
					margin: 3em 0;
				}
			}

			.coach-photo {
				height: 100%;
				width: auto;
				position: absolute;
				opacity: .5;
				-webkit-transition: all .25s;
				-moz-transition: all .25s;
				-o-transition: all .25s;
    			transition: all .25s;
			}
			.bg-photo-ramy {
				right: 0;
				top: 0;
			}

			.bg-photo-hisham {
				left: 0;
				top: 0;
			}

			.bg-photo-haitham {
				right: 0;
				top: 0;
			}

			.coach-full {
				height: 100%;
				width: 100%;
				left: 0;
				top: 0;
				position: absolute;
				opacity: .5;
				background: url('/assets/ramy_floor.jpg');
				background-size: cover;
				background-position: center;
				-webkit-transition: all .25s;
				-moz-transition: all .25s;
				-o-transition: all .25s;
    			transition: all .25s;
			}

			.info {
				border-top: 1px solid #ccc;

				.description {
					font-size: 1.25em;
					line-height: 1.65em;
				}
			}
		}

		.coach:hover {
			
			.bg-photo-ramy {
				opacity: 1;
			}

			.bg-photo-hisham {
				opacity: 1;
			}

			.bg-photo-haitham {
				opacity: 1;
			}

			.coach-full {
				opacity: 1;
			}
		}

		.divider {
			margin-top: 5em;

			h2 {
				padding: 1.5em 0;
			}
		}

	}

	#about {
		border-top: 5px solid #222;
		padding: 3em 0 8em;
		position: relative;
		overflow: hidden;

		p {
			font-weight: 300;

			i {
				margin-right: 1em;
				margin-left: 2em;
				font-size: .75em;
			}
		}

		h3 {
			margin-top: 1em;
		}

		.about-description-images {
			padding: 1em;
			margin: 2.5em 0 0;
			background: #6B1010;
			box-shadow: inset 0 0 60px #000000;

			img {
				margin: 0;
				width: 100%;
				opacity: .5;
				-webkit-transition: all .25s;
				-moz-transition: all .25s;
				-o-transition: all .25s;
				transition: all .25s;
			}
		}

		.about-description-images:hover {

			img {
				opacity: 1;
			}
		}

		.about-images {
			padding: 1em;
		}

		.about-images img {
			margin: 0;
			width: 100%;
			opacity: .5;
			-webkit-transition: all .25s;
			-moz-transition: all .25s;
			-o-transition: all .25s;
			transition: all .25s;
		}

		.quote {
			padding: 3em 0;
			font-size: 1.55em;
			font-style: italic;
			font-weight: 400;
			text-align: center;

			span {
				font-weight: 600;
			}
		}

		.about-images:hover {
			img {
				opacity: 1;
			}
		}

		.camp-fee {
			border-top: 3px solid #CE1126;
			border-bottom: 3px solid #CE1126;
			text-align: center;
			margin-top: 2em;
			margin-bottom: 3em;

			h3 {
				margin: 0;
				padding: .75em 0;
			}
		}

		.date {
			text-align: center;
			background: #6B1010;
			position: relative;
			padding: 2em;
			margin-top: 2em;
			box-shadow: inset 0 0 60px #000000;
			overflow: hidden;
			-webkit-transition: all .25s;
			-moz-transition: all .25s;
			-o-transition: all .25s;
			transition: all .25s;

			.inner {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background: url('/assets/camp_player.jpg');
				background-size: cover;
				background-position: cover;
				opacity: .15;
				z-index: 1;
				-webkit-transition: all .25s;
				-moz-transition: all .25s;
				-o-transition: all .25s;
    			transition: all .25s;
			}

			h3, h4, p {
				position: relative;
				z-index: 5;
			}

			h3 {
				margin: 0;
				text-transform: uppercase;
				font-weight: 400;
				font-style: italic;
				font-size: 2.5em;
				text-shadow: 1px 1px 2px #000;
			}
			h4 {
				text-transform: uppercase;
				font-weight: 800;
				font-size: 3em;
				margin: 0;
				text-shadow: 1px 1px 2px #000;
				letter-spacing: 2px;
			}
			p {
				margin: 0;
				line-height: 1em;
				font-size: 1em;
				font-style: italic;
				text-transform: uppercase;
				font-weight: 300;
				letter-spacing: 5px;
			}
		}

		.date:hover {

			.inner {
				width: 106%;
				height: 106%;
				left: -3%;
				top: -3%;
				opacity: .5;
			}
		}

		.location {

			h4 {
				font-weight: 600;
				font-size: 1.25em;
			}

			p {
				font-weight: 300;
			}

			.maps-link {
				display: block;
				margin-top: 2.5em;
				padding: 1em;
				background: #6B1010;
				position: relative;
				box-shadow: inset 0 0 60px #000000;

				img {
					width: 100%;
					-webkit-transition: all .25s;
					-moz-transition: all .25s;
					-o-transition: all .25s;
	    			transition: all .25s;
				}

				i {
					width: 100px;
					height: 100px;
					opacity: 0;
					font-size: 80px;
					position: absolute;
					top: 80px;
					left: 50%;
					margin-left: -50px;
					display: block;
					text-align: center;
					text-shadow: 1px 1px 2px #000;
					color: #fff;
					z-index: 15;
					-webkit-transition: all .25s;
					-moz-transition: all .25s;
					-o-transition: all .25s;
	    			transition: all .25s;
				}
			}

			.maps-link:hover {

				img {
					opacity: .5;
				}

				i {
					opacity: 1;
				}
			}
		}

		.images {
			padding: 1em;
			background: #6B1010;
			box-shadow: inset 0 0 150px #000000;

			h3 {
				margin: .5em 0;
				text-transform: uppercase;
				font-weight: 400;
				font-style: italic;
				font-size: 2.5em;
				text-shadow: 1px 1px 2px #000;
				text-align: center;
			}
		}
	}

	#apply {
		border-top: 5px solid #222;
		padding: 3em 0;
		overflow: hidden;
		position: relative;

		.apply-bg {
			background: url('/assets/ramy_apply.jpg');
			background-size: contain;
			background-position: -600px center;
			background-repeat: no-repeat;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			z-index: -1;
			height: 100%;
		}

		h4 {
			font-weight: 600;
			font-size: 1.5em;
			text-align: center;
			margin-top: 1.5em;
		}

		p.asterisk {
			color: #fff;
			font-size: 1.1em;
			font-style: italic;
		}

		p {
			text-align: center;
		}

		.application-info {
			padding: 3em 0 5em;
			text-align: center;
		}

		label {
			margin-top: 1.5em;
			font-weight: 400;
		}

		.button-container {
			margin-top: 2.5em;
			margin-bottom: 1.5em;

			.button {
				width: 100%;
				padding: .75em 0;
				text-align: center;
				border: 3px solid #aaa;
				background: transparent;
				display: block;
				color: #fff;
				text-decoration: none;
				font-size: 1.25em;
				font-weight: 400;
				text-transform: uppercase;
				-webkit-transition: all .1s;
				-moz-transition: all .1s;
				-o-transition: all .1s;
    			transition: all .1s;
			}

			.save:hover {
				background: green;
				border: 3px solid green;
			}

			.cancel:hover {
				background: red;
				border: 3px solid red;
			}
		}
	}

	#schedule {
		border-top: 5px solid #222;
		padding: 3em 0;
		position: relative;
		overflow: hidden;
		background: url('/assets/schedule_bg.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;

		.schedule-bg {
			background: url('/assets/schedule_bg.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			top: 0;
			left: 0;
			height: 150%;
			width: 150%;
		}

		h3 {
			font-size: 2em;
		}

		h4{
			font-size: 1.25em;
			line-height: 1.5em;
			font-weight: 600;
		}

		.daily-schedule {
			text-align: left;
			color: #fff;
			font-size: 2em;

			p {
				font-size: .8em;
				margin: .75em 0;
				font-weight: 300;
			}

			li {
				margin-bottom: 1em;
			}
		}
	}
}