<footer class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<p>Copyright &copy; 2015 Ramy Ashour Squash Academy</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<% if signed_in? %>	        
			    <%= link_to "Log out", signout_path, method: "delete", class: 'login' %>
			<% else %>
				<a href="/signin" class="login">Log In</a>
			<% end %>	
		</div>
	</div>
</footer>