<div id="header" class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="site-heading">Ramy Ashour Academy Camps</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<ul class="nav-links row">
				<li class="col-sm-3"><a href="#coaches">Coaches</a></li>
				<li class="col-sm-3"><a href="#about">About the Camp</a></li>
				<li class="col-sm-3"><a href="#schedule">Schedule</a></li>
				<li class="col-sm-3"><a href="#apply">Apply</a></li>
			</ul>
		</div>
	</div>
</div>